:host {
  width: 100vw;
  height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  overflow: hidden;
  border: 1px solid red;
}

.skeleton{
  border: 1px solid green;
  width: 100%;

  &__header{

  }

  &__content{

  }
}
