:host {
  width: 100vw;
  height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: row;
  position: absolute;
  overflow: hidden;
  border: 1px dotted blue;
}

.page{
  border: 1px dotted green;
  height: 100%;
  width: 100%;
}
